* {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
}
/* header */
header {
    display: flex;
    justify-content: flex-end;
    background-color:rgba(220, 20, 60, 0.918);
    position: fixed;
    width: 100%;
    z-index: 10;    
    margin: auto;
    width: 100%;
    height: 60px;
}
header .main {
    display: inline-flex;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
}
.main a {
    text-decoration: none;
    color: inherit;
    text-shadow: 2px 2px #bbbbbb;
}
.main li {
    padding: 30px;
    color:ghostwhite;
    font-size: 1rem;
}
.nav-link {
    font-size: 1.6rem;
}
.nav-link:hover {
    text-decoration: underline;
    font-size: 2rem;
}
.nav-link:active {
    color: #000;
}

/* welcome section */
#section1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-image: linear-gradient(62deg, rgb(68, 61, 64) 0%, rgb(24,23,25) 100%);
}
.introduction {
    min-width: 300px;
    max-width: 700px;
    padding: 0;
    margin: 0;
    line-height: 60px;
}

.myname {
    text-align: center;
    color: ghostwhite;
    font-size: 3rem;
    word-spacing: 5px;
    transition-duration: 2s;
    transition-property: font-size;
}
.myname:hover {
    font-size: 3.4rem;
}
.introduction p   {
    margin-top: 10px;
    color: rgba(220, 20, 60, 0.918);
    font-size: 2rem;
    line-height: 35px;
    word-spacing: 10px;
    text-align: justify;
}
.introduction img {
    width: 400px;
    height: 400px;
    margin-top: 10px;
}
.aboutphoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* section 2 */ 
#section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #45567d;
}
#section2 img {
    width: 400px;
    height: 400px;
}

#section2 h2 {
    border-bottom: 0.2rem solid #f0f0f0;  
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: ghostwhite;
    font-size: 60px;
    word-spacing: 10px;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    gap: 3rem 0rem;
    justify-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.projects-grid a {
    border: 3px solid black;
    background-color: #303841;
    text-decoration: none;
    color: ghostwhite;
}
.projects-grid figcaption {
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}
.photo img {
    box-shadow: inset 0 0 0 0 rgba(220, 20, 60, 0.918);
    margin: 0.35rem;
    padding: 0.35rem;
}
.photo:hover {
    box-shadow: inset 500px 0 0 0 rgba(220, 20, 60, 0.918);
    color: white;
}
/* section 3 */
#section3 {
    background-color: #303841;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#section3 .contact-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contact-links h2 {
    margin: 05px;
    font-size: 70px;
    color: ghostwhite;
}
.contact-links p {
    color: ghostwhite;
    font-size: 25px;
    margin-bottom: 30px;
}   
.social a {
    text-decoration: none;
    font-size: 2.5rem;
    padding: 20px;
    color: ghostwhite;
}
.social-link:hover {
    color: black;
}
.social-link:active {
    color: rgba(220, 20, 60, 0.918);
}
/* footer */
footer {
    border-top: 3px solid rgba(220, 20, 60, 0.918);
    background-color: #303841;
}
footer p {
    color: ghostwhite;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    margin: 1px;
    text-decoration: underline;
}
/* responsive design */
@media only screen and (max-width: 425px) {
    .main li {
        padding: 0.2rem;
    }
    .nav-link {
        font-size: 1rem;
        padding: 1.7rem;   
        
    }
    
    .main {
        width: 100%;
        height: 10vh;
        text-align: center;
    }
    header {
        margin: 0;
        position: inherit;
        margin-bottom: 0;
    }
    #section1 {
        width: 100%;
        height: 60vh;
        margin-top: 0.3rem;
    }    
    .myname {
        font-size: 1rem; 
        text-align: center; 
    }
    .myname:hover {
        display: none;
    }
    #section1 {
        margin-top: 0;
        height: 55vh;
    }
    .introduction {
        margin-top: 0rem;
        width: 60%;
    }
    .introduction img {
        width: 60%;
        height: 25vh;
    }
    .introduction p {
        
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 1rem;
        word-spacing: 0rem;
    }
    #section2 {
        width: 100%;
        text-align: center;
    }
    #section2 h2 {
        margin: 0.8rem;
        font-size: 1rem;
    }
    .photo figcaption {
        font-size: 1rem;
    }
    .projects-grid {
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    #section2 img {
        margin-bottom: 0.9rem;
        width: 80%;
        height: 30vh;
    }
    #section3 {
        width: 100%;
        height: 55vh;
    }
    .contact-links {
        margin-top: 1rem;
    }
    #section3 h2,p {
        font-size:  1rem;

    }
    .social {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
    .social-link i {
        padding: 0.1rem 0.5rem;
        font-size: 1.5rem;
    }
    .social-link span {
        font-size: 1rem;
    }
    footer {
        width: 100%;
        height: 5vh;
        margin: auto;
    }
    footer p {
        font-size: 1rem;
        margin-top: 0.3rem;
    }
}
@media only screen and (max-width: 1024px) {
    .social {
        width: 80%;
    }
    #section3 .social {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}
@media only screen and (min-width: 425px) and (max-width: 768px) {
    .main li {
        padding: 0.2rem;
        padding: 1.2rem;
    }
    .nav-link {
        font-size: 1rem;
        padding: 1.7rem;   
        
    }
    
    .main {
        width: 100%;
        height: 10vh;
        
    }
    header {
        margin: 0;
        position: inherit;
        margin-bottom: 0;
    }
    #section1 {
        width: 100%;
        height: 60vh;
        margin-top: 0.3rem;
    }    
    .myname {
        font-size: 1rem; 
        text-align: center; 
    }
    .myname:hover {
        display: none;
    }
    #section1 {
        margin-top: 0;
        height: 55vh;
    }
    .introduction {
        margin-top: 0rem;
        width: 60%;
    }
    .introduction img {
        width: 60%;
        height: 25vh;
    }
    .introduction p {
        
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 1rem;
        word-spacing: 0rem;
    }
    #section2 {
        width: 100%;
        text-align: center;
    }
    #section2 h2 {
        margin: 0.8rem;
        font-size: 1rem;
    }
    .photo figcaption {
        font-size: 1rem;
    }
    .projects-grid {
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    #section2 img {
        margin-bottom: 0.9rem;
        width: 80%;
        height: 30vh;
    }
    #section3 {
        width: 100%;
        height: 55vh;
    }
    .contact-links {
        margin-top: 1rem;
    }
    #section3 h2,p {
        font-size:  1rem;

    }
    .social {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
    .social-link i {
        padding: 0.1rem 0.5rem;
        font-size: 1.5rem;
    }
    .social-link span {
        font-size: 1rem;
    }
    footer {
        width: 100%;
        height: 5vh;
        margin: auto;
    }
    footer p {
        font-size: 1rem;
        margin-top: 0.3rem;
    }
}
